:root {
    --clr-primary: hsl(215, 38%, 9%);
    --clr-accent: #2c92ef;
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
    --fs-700: 3.5rem;
    --fs-400: 1.25rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html {
    font-size: 62.5%;
    font-family: 'Varela Round; sans-serif;
}
html:focus-within {
    scroll-behavior: smooth;
}
h1 {
    font-size: 4rem;
}
p {
    font-size: 1.5rem;
}

body {
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary);
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        /* user-select  to prevent users from selecting anynthing while doing the quiz*/
        user-select: none;
    }
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
}

.blue {
    background: #3c31dd;
}

.btn {
    color: white;
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    outline: none;
    border: 0.1rem solid hsl(var(--hue-neutral), 100%, 30%);
    border-radius: 0.5rem;
    background-color: hsl(var(--hue-neutral), 100%, 50%);
}
.btn:hover {
    border-color: black;
}
.btn.correct {
    background-color: hsl(var(--hue-correct), 100%, 20%);
    color: white;
}
.btn.wrong {
    color: white;
    background-color: hsl(var(--hue-wrong), 100%, 20%);
}

.start-btn,
.next-btn {
    font-weight: bold;
}
.hide {
    animation: modal-close 0.3s;
    display: none;
}
/* Quiz container ... */
.container {
    padding: 1rem;
    width: 80rem;
    border-radius: 0.5rem;
    max-width: 80%;
    position: relative;
    transition: all 0.3s;
    animation: modal-open 0.3s;
    background-color: rgb(50, 53, 84);
    box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.763),
                0 .6rem 2rem 0 rgba(0, 0, 0, 0.801);
}
.question-container {
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    padding: 0.5rem;
    transition: all 0.3s;
    /* background-color: hsl(var(--hue-neutral), 100%, 20%); */
}
.controls {
    display: flex;
    transition: all 0.5s;
    /* justify-content: space-between; */
    justify-content: space-around;
    align-items: center;
}

.close-btn {
    display: inline-flex;
    flex-direction: row;
    background-color: hsla(240, 14%, 10%, 0.349);
    border-radius: 50%;
    border-color: transparent;
    color: #FFF;
    font-size: 1.5rem;
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
}

.close-btn:hover {
    color: rgb(255, 134, 100);
}

@keyframes modal-open {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}
@keyframes modal-close {
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}

h1 {
    font-weight: 230;
    font-size: 2rem;
    cursor: default;
    margin: 0 0 0.5rem 0;
}
.choices {
    margin-bottom: 3rem;
}

i:hover,
label:hover,
.container:hover {
    cursor: pointer;
}
.choices + i {
    font-size: 2rem;
}
.container.correct {
    background-color: hsl(var(--hue-correct), 100%, 20%);
}
.container.wrong {
    background-color: hsl(var(--hue-wrong), 100%, 20%);
}

input[type='checkbox'] {
    height: 0;
    width: 0;
}

input[type='checkbox'] + label {
    position: relative;
    display: flex;
    margin: 0.6em 0;
    align-items: center;
    color: #9e9e9e;
    transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
}
input[type='checkbox'] + label > ins {
    position: absolute;
    display: block;
    bottom: 0;
    left: 2em;
    height: 0;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    transition: height 300ms cubic-bezier(0.4, 0, 0.23, 1);
}
input[type='checkbox'] + label > ins > i {
    position: absolute;
    bottom: 0;
    font-style: normal;
    color: #4fc3f7;
}
input[type='checkbox'] + label > span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    width: 1em;
    height: 1em;
    background: transparent;
    border: 2px solid #9e9e9e;
    border-radius: 2px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
}

input[type='checkbox'] + label:hover,
input[type='checkbox']:focus + label {
    color: #fff;
}
input[type='checkbox'] + label:hover > span,
input[type='checkbox']:focus + label > span {
    background: rgba(255, 255, 255, 0.1);
}
input[type='checkbox']:checked + label > ins {
    height: 100%;
}

input[type='checkbox']:checked + label > span {
    border: 0.5em solid #ffeb3b;
    animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
}
input[type='checkbox']:checked + label > span:before {
    content: '';
    position: absolute;
    top: 0.6em;
    left: 0.2em;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
}

.curve {
    position: absolute;
    height: 20rem;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: var(--clr-primary);
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #3c31dd;
    transform: translate(-4%, 40%);
    z-index: -1;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    height: 26rem;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer {
    /* SVG made from: https://svgwave.in/ */
    background-image: url('./layer.svg');
}

.flip {
    transform: rotate(180deg);
}

/* POPUP */
.closeHandleIcon.active {
    z-index: 12;
    opacity: 1;
    position: absolute;
    margin-right: -16px;
    margin-top: -16px;
}

.popupContainer {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    max-width: 40vw;
    max-height: 40vh;
    opacity: 0;
    border: 1px solid transparent;
    display: flex;
    flex-direction: row-reverse;
}
.popupContainer.active {
    z-index: 10;
    opacity: 1;
    resize: vertical;
}
body.popupActive {
    overflow: hidden;
    transition: all linear 0.6s 0s;
}

.between {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    background-color: white;
    width: 0;
    height: 0;
    opacity: 0;
}
  .between.active {
    height: 100vh;
    width: 100vw;
    z-index: 9;
    opacity: 0.7;
    transition: opacity ease-in 0.4s;
}
  .popupBox {
    min-width: 30rem;
    max-width: inherit;
    max-height: inherit;
    background-color: white;
    box-shadow: .3rem .2rem 1.2rem #777;
    border-radius: 6px;
    overflow: auto;
    font: normal 12px/15px Verdana, Arial, sans-serif;
    min-height: 1.5rem;
    z-Index: 10;
    padding: 0.4rem;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
    .popupContainer {
        max-width: 75vw;
        max-height: 30vh;
    }
}
#modalWarning {
    color: red;
    background-color: #FFFFF0;
    font-weight: bold;
    border: 3px solid red;
    padding: 1rem;
    margin: 0 auto 0.5em auto;
    text-align: center;
    opacity: 0;
    max-height: 0;
    position: absolute;
    box-shadow: 2px 2px 8px #999;
    transition: all ease 0.5s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modalWarning.active:after {
    content: 'Please finish the Quiz first!';
}

#modalWarning.active {
    opacity: 1;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    z-Index: 12;
}
/* Animations */

@keyframes shrink-bounce {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes checkbox-check {
    0% {
        width: 0;
        height: 0;
        border-color: #212121;
        transform: translate3d(0, 0, 0) rotate(45deg);
    }
    33% {
        width: 0.2em;
        height: 0;
        transform: translate3d(0, 0, 0) rotate(45deg);
    }
    100% {
        width: 0.2em;
        height: 0.5em;
        border-color: #212121;
        transform: translate3d(0, -0.5em, 0) rotate(45deg);
    }
}
