extends layout

block content
  h1= '30 PASSIVE Income Ideas'
  p Rent out a room
  p Affiliate marketing
  p Dividend stocks
  p Peer to peer lending
  p Sell an online course
  p Sell an e-book
  p Start a YouTube channel
  p Drop-shipping store
  p Buy a profitable app
  p Buy a profitable website
  p Start a Podcast
  p Hold stocks long term
  p Create an app
  p Rent out your car
  p Laundromat
  p Vending machines
  p Email Marketing
  p Put ads on your car
  p Crowdfunded real estate
  p Investing with robo advisor
  p Run subscription service
  p Invest in royalty income
  p Rent out items you have
  p Sell products on eBay
  p Sell products on Amazon
  p High yield savings account
  p Be silent business partner
  p Sell Stock Photos
  p Hire a virtual assistant
  p Sell print on demand shirts
