@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  font-family: "Raleway", sans-ferif;
}

h2, p {
  margin-top: 0;
  margin-bottom: 0.2em;
  letter-spacing: 0.15em;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

.outer {
  width: 100%;
  height: 100%;
  background: #bca;
  display: table;
  background: url("https://images.unsplash.com/photo-1451109395680-cf47f12fb02a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=f5a75496376c5947c0d1703b3dfa8f0c") center center no-repeat;
  background-size: cover;
  transform: scale(1.1);
}

.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 2em;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
}